.container {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.2em;
    border: 3px solid floralwhite;
    border-radius: 5%;
    min-height: 60vh;
}

.userinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

textarea {
    min-height: 40vh;
}