.container {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.2em;
    border: 3px solid floralwhite;
    border-radius: 5%;
    min-height: 60vh;
}

.userinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

textarea {
    min-height: 40vh;
}

@media (min-width:300px) and (max-width:600px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        margin:0.2em;
        border:3px solid floralwhite;
        border-radius: 5%;
        min-height: 60vh;
        width: 20em;
    }

    textarea {
        min-height: 40vh;
    }
}