.container {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin:0.2em;
    border:3px solid floralwhite;
    border-radius: 5%;
    min-height: 60vh;
    min-width: 35em;
}

.tablist {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    margin: 1em;
}

button {
    cursor: pointer;
    outline:0;
    border: none;
    padding: 1em;
    margin: 0.5em;
    background-color: darkgrey;
    box-shadow:  3px 3px 6px black;
}

.active {
    color: floralwhite;
    background-color: grey;
}

.tabcontent {
    background-color: white;
    min-height: 40vh;
}

pre{
    padding:1em;
}

@media (min-width:300px) and (max-width:600px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        margin:0.2em;
        border:3px solid floralwhite;
        border-radius: 5%;
        min-height: 60vh;
        min-width: 10em;
    }

    .tabcontent{
        background-color: white;
    }
}