.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

h1{
  text-align: center;
}

@media (max-width: 900px) {
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
  }
} 